* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

html, h1 {
    font-family: 'Playfair Display', serif;
}

html {
    background-color: rgb(252,252,252);
}

h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    margin: 38px 0 19px 0;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
}

.row { 
    display:flex;
    flex-wrap: wrap;
    margin: 0 19px;
}

.column {
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 19px;
}

.user {
    align-items: center;
    background-color: #FFF;
    border: 1px solid rgb(218,218,218);
    border-radius: 8px;
    display: flex;
    margin: 19px;
    padding: 26px;
    width: calc(33.333% - 38px);
}

.user .user-profile-pic {
    background-color: red;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    display: block;
    flex-shrink: 0;
    height: 127px;
    width: 127px;
}

.user .user-profile-info {
    flex: 1;
    margin-left: 22px;
    word-break: break-all;
    word-wrap: break-word;
}

.user .user-profile-info h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.user .user-profile-info .profile-info-email {
    margin-bottom: 8px;
}

.user .user-profile-info .profile-info-email,
.user .user-profile-info .profile-info-location {
    color: rgb(155,155,155);
}

.user:hover {
    background-color: rgb(193, 203, 211);
    cursor: pointer;
}

.tingle-modal-box__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tingle-modal-box__content div, h4{
    margin-bottom: 10px;
}
.tingle-modal-box__content div img {
    display: block;
    margin: auto;
}
